@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700");
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'PT Sans';
  font-weight: 400;
  color: #000;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  cursor: default; }

::selection {
  background-color: #1a54e7;
  color: #fff; }

.u-text-bold {
  font-weight: 700; }

.u-container {
  position: relative;
  max-width: 120rem;
  margin: 0 auto; }
  .u-container--h100 {
    height: 100%; }

.u-bg-red {
  background-color: #d90445; }

.u-bg-dark {
  background-color: #000; }

.u-bg-green {
  background-color: #58b600; }

.u-bg-blue {
  background-color: #1a54e7; }

.u-bg-purple {
  background-color: #8200b2; }

@supports (filter: brightness()) {
  .u-lb {
    filter: brightness(80%); } }

.row {
  display: flex;
  justify-content: space-between; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row [class^=col] {
    flex: 0 0 100%; }
  .row .col-1-of-2 {
    flex: 0 0 48%; }
  .row .col-1-of-3 {
    flex: 0 0 31%; }

.main-header {
  height: 7rem;
  background-image: linear-gradient(to right, #1a54e7, #1a54e7 20%, #fff 20%, #fff); }
  .main-header__container {
    height: 100%;
    max-width: 120rem;
    margin: 0 auto;
    display: flex; }
  .main-header__logo {
    flex: 0 0 18rem;
    background-color: #1a54e7; }
    .main-header__logo:link, .main-header__logo:visited {
      font-size: 2.4rem;
      line-height: 7rem;
      text-decoration: none;
      color: #fff; }
  .main-header__form {
    flex: 0 0 6rem; }
  .main-header__nav {
    flex: 1;
    display: flex; }

.search-form {
  position: relative; }
  .search-form__group {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
    transition: width .2s ease; }
  .search-form__input {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 2.4rem;
    outline: none;
    border: none;
    border-radius: 0;
    background-color: transparent;
    font: inherit;
    font-size: 1.8rem;
    color: transparent;
    z-index: 10; }
  .search-form__icon {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -1.2rem;
    margin-right: -1.2rem;
    z-index: 1;
    transition: fill .2s ease;
    fill: #acacac; }
  .search-form--focus .search-form__group {
    width: 36rem; }
  .search-form--focus .search-form__input {
    padding-right: 5rem;
    color: inherit; }
  .search-form--focus .search-form__icon {
    right: 2rem;
    margin-right: 0;
    fill: #797979; }

.nav-list {
  list-style: none;
  display: flex; }
  .nav-list--sub {
    margin-right: auto; }
  .nav-list--sub .nav-list__link:link, .nav-list--sub .nav-list__link:visited {
    color: #b2b2b2; }
  .nav-list--sub .nav-list__link:hover {
    color: #7f7f7f; }
  .nav-list--main .nav-list__link:link, .nav-list--main .nav-list__link:visited {
    color: #1a54e7;
    border-bottom: 3px solid transparent; }
  .nav-list--main .nav-list__link:hover {
    border-bottom: 3px solid #1a54e7; }
  .nav-list--main .nav-list__link--active {
    border-bottom: 3px solid #1a54e7 !important; }
  .nav-list__item {
    display: flex; }
  .nav-list__link {
    padding: 2.6rem 2rem; }
    .nav-list__link:link, .nav-list__link:visited {
      font-size: 1.8rem;
      line-height: 1.8rem;
      text-decoration: none;
      transition: color .2s ease, border-bottom .2s ease; }

.expand-btn {
  width: 5rem;
  border: none;
  border-radius: 0;
  background-color: transparent;
  outline: none;
  position: relative; }
  .expand-btn__dot {
    display: block;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: #1a54e7;
    position: absolute;
    top: 50%;
    margin-top: -.3rem; }
    .expand-btn__dot--1 {
      left: 1.2rem; }
    .expand-btn__dot--2 {
      left: 2.2rem; }
    .expand-btn__dot--3 {
      right: 1.2rem; }

.section-slider {
  height: 70rem; }

.slider {
  position: relative;
  width: 100%;
  height: 100%; }
  .slider__viewport {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .slider__btn {
    border: none;
    border-radius: 0;
    background-color: #fff;
    width: 5.6rem;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    margin-top: -2.8rem; }
    .slider__btn svg {
      width: 4rem;
      height: 4rem; }
    .slider__btn--prev {
      left: 0; }
    .slider__btn--next {
      right: 0; }

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: left 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: url("../img/slider-bg.jpg") no-repeat center/cover; }
  .slide__quote {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center; }
  .slide__photo {
    width: 13rem;
    border-radius: 50%;
    margin-bottom: 3.6rem; }
  .slide__quote-text {
    font-family: 'PT Serif', serif;
    font-size: 4.2rem;
    font-weight: 400;
    color: #fff;
    width: 70%;
    margin: 0 auto; }
  .slide__tag {
    position: absolute;
    left: 0;
    bottom: 4rem;
    background-color: #1a54e7;
    padding: 1rem 2.2rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff; }
  .slide__info {
    position: absolute;
    right: 0;
    bottom: 4rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center; }
  .slide__date {
    color: #b0b0b0;
    padding-right: .8rem;
    margin-right: 1rem;
    border-right: 2px solid #b0b0b0; }
  .slide__user-link:link, .slide__user-link:visited {
    color: #1a54e7;
    text-decoration: none;
    border-bottom: 2px solid #1a54e7; }

.section-featured {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #f6f6f6; }

.post__figure {
  height: 26rem;
  position: relative;
  margin-bottom: 2rem; }

.post__photo {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.post__caption {
  position: absolute;
  bottom: 2rem;
  padding: 1rem 1.6rem;
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff; }

.post__title:link, .post__title:visited {
  display: block;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 2.4rem;
  color: #000;
  text-decoration: none;
  margin-bottom: 1.8rem;
  transition: color .2s ease; }

.post__title:hover {
  color: #737373; }

.post__info {
  display: flex;
  align-items: center;
  font-size: 1.4rem; }

.post__date {
  color: #b0b0b0;
  padding-right: .8rem;
  margin-right: 1rem;
  border-right: 2px solid #b0b0b0; }

.post__user-link:link, .post__user-link:visited {
  color: #1a54e7;
  text-decoration: none;
  border-bottom: 2px solid #1a54e7;
  transition: transform .2s ease;
  backface-visibility: hidden; }

.post__user-link:hover {
  transform: translateY(-3px); }

.post-wide {
  position: relative; }
  .post-wide__figure {
    height: 40rem; }
  .post-wide__caption {
    bottom: 3rem; }
  .post-wide__text {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'PT Serif', serif;
    color: #fff;
    text-align: center; }
  .post-wide__title:link, .post-wide__title:visited {
    display: block;
    font-weight: 400;
    font-size: 4.8rem;
    text-decoration: none;
    color: #fff;
    transition: color .2s ease; }
  .post-wide__title:hover {
    color: #d9d9d9; }
  .post-wide__paragraph {
    width: 65%;
    margin: 0 auto;
    font-size: 1.8rem; }
  .post-wide__info {
    position: absolute;
    bottom: 3.5rem;
    right: 3.5rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem; }

.post-slim__title:link, .post-slim__title:visited {
  font-size: 1.8rem; }

.section-latest {
  padding-top: 5rem;
  padding-bottom: 8rem; }

.section-form {
  padding-top: 10rem;
  padding-bottom: 12rem;
  background: url("../img/form-section-bg.png") no-repeat center/cover;
  font-family: 'PT Serif', serif;
  text-align: center; }
  .section-form__title {
    color: #fff;
    font-size: 4.8rem;
    font-weight: 400; }
  .section-form__text {
    font-size: 2.4rem;
    color: #8baeff;
    margin-bottom: 4.5rem; }

.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: center; }
  .newsletter-form > * {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.8rem; }
  .newsletter-form__input {
    width: 34rem;
    padding: 1.5rem 8rem 1.5rem 3.4rem;
    border: none;
    border-radius: 10rem;
    background-color: #2c6cff;
    color: #fff;
    transition: background-color .2s ease; }
    .newsletter-form__input::placeholder {
      color: #fff; }
    .newsletter-form__input:focus {
      outline: none;
      background-color: #467eff; }
  .newsletter-form__btn {
    align-self: stretch;
    border: none;
    border-radius: 10rem;
    background-color: #fff;
    padding: 1.2rem 4rem;
    font-weight: 700;
    color: #1a54e7;
    cursor: pointer;
    transition: background-color .2s ease, transform .2s ease;
    backface-visibility: hidden;
    margin-left: -7rem; }
    .newsletter-form__btn:hover {
      background-color: #ededed; }
    .newsletter-form__btn:active {
      outline: none;
      transform: scale(0.95); }

.main-footer {
  padding: 7rem 0;
  text-align: center; }

.paragraph {
  font-size: 1.6rem;
  color: #b0b0b0; }
  .paragraph:not(last-of-type) {
    margin-bottom: 1rem; }

.link:link, .link:visited {
  color: #1a54e7;
  text-decoration: none;
  transition: color .2s ease; }

.link:hover {
  color: #5f88ee; }
